/*Font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/*Icons BootStrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}
:root{
    --Fundo:#080B16;
    --FontMenuLateral:#E9EEF8;
    --fundoMenuConta:#11182F;
}
html{
    background: var(--Fundo);
}
header{
    position: absolute;
    height: 100vh;
    width: 400px;
    padding: 20px;
    border: 1px solid yellow;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: yellow;
    padding: 40px 20px;
}
.menu-options ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-options i{
    padding-right: 7px;
}
.menu-options a{
    font-size: 18px;
    color: var(--FontMenuLateral);
    font-weight: 400;
}
.menu-logo{
    padding-bottom: 40px;
}
.menu-logo h2{
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}
hr{
    margin: 40px 0;
    width: 50%;
    border: 1px solid #f9f9f9;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social h3{
    color: #fff;
    padding-right: 15px;
}
.social ul{
    display: flex;
    gap: 10px;
}
.social a{
    color: #fff;
    font-size: 22px;
}
.social li{
    color: red;
}
.social a:hover{
    text-decoration: underline;
}
.conta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--fundoMenuConta);
    width: 224px;
    height: 70px;
    border-radius: 12px;
    padding: 12px;
}
.img-conta{
    display: flex;
    align-items: center;
    gap: 8px;
}
.foto-perfil{
    height: 42px;
    width: 42px;
}
.foto-perfil img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.nome-perfil{
    display: flex;
    flex-direction: column;
}
.nome-perfil h4{
    font-weight: 500;
    color: #fff;
}
.nome-perfil span{
    color: #64748B;
}
.config-conta span{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}